<!DOCTYPE html>
<html lang="jp">
<head>
        <meta charset="UTF-8">
        <title></title>
</head>
<body>
<h2>Search</h2>
<h3>Search Option</h3>
<form method="post" action="applconn">
<ul>
  <li>
Input computation start point:
<input id="key" type="text" name="key" />
  </li>
  <li>
direction-reversed: <input id="reversed" type="checkbox" name="reversed" value="true" />
  </li>
  <li>
search tag:
   <ul>
    <li>
Dev: <input type="checkbox" name="SearchDev">
    </li>
    <li>
Ops: <input type="checkbox" name="SearchOps">
    </li>
   </ul>
  </li>
</ul>
<h3>Search Algorithm</h3>
<ul>
  <li>
<input type="submit" value="DFS search" name="dfsmode" />
  </li>
  <li>
   <ul>
    <li>
neighbor distance: <input id="distance" type="text" name="distance" value="5" />
    </li>
    <li>
undirectional or directional:
<select id="graphtype" name="graphtype">
<option value="directional">directional</option>
<option value="undirectional">undirectional</option>
</select>
    </li>
    <li>
<input type="submit" value="distance" name="distancemode" />
    </li>
   </ul>
  </li>
  <li>
   <ul>
    <li>
shortest_path target: <input type="text" name="shortest_path_target" />
    </li>
    <li>
<input type="submit" value="shortestpath" name="shortestpathmode" />
    </li>
   </ul>
  </li>
</ul>
</form>


<h2>dump raw data</h2>
<ul>
  <li>
<a href="static/applconn.json">
node data
</a>
  </li>
  <li>
<a href="static/applconn.html">
node graph
</a>
  </li>
</ul>


</body>
</html>

